* {
    box-sizing: border-box;
    outline: none;
    font-family: $fontPrimary;
}

html,
body {
    min-height: 100vh;
    cursor: none;
}

body {
    display: flex;
    flex-direction: column;
    background: $cBlack;
    color: $cWhite;
}

.body--noscroll {
    overflow: hidden;
    height: 100%;
}

html.overflow-hidden {
    overflow: hidden;
    height: 100%;
}

button {
    font-family: inherit;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.main {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;

    @include media(0, $mediaSM) {
        min-height: 100vh;
    }
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

p {
    @include p;
}

a {
    text-decoration: none;
    cursor: none !important;
}

.marker {
    visibility: hidden;
}
.marker-link {
    visibility: hidden;
}